body, body *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #FAFCFF;
    font-family: "Roboto", sans-serif;
    padding-bottom: 40px;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
section, .navbar, footer{
    max-width: 890px;
    margin: 0 auto;
}
.df{
    display: flex;
}
.a-center{
    align-items: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.navbar__logo{
    width: 127px;
}
.j-spc-btw{
    justify-content: space-between;
}
.navbar{
    background: #f5f9ff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    padding-left: 50px;
    padding-right: 50px;
}
.menu{
    gap: 50px;
}
.banner__title{
    max-width: 600px;
    margin: 0 auto 30px;
    font-size: 36px;
}
.banner{
    padding-top: 40px;
    background: #f5f9ff;
    padding-bottom: 24px;
}
.banner__text{
    max-width: 600px;
    margin: 0 auto 30px;
    font-size: 18px;
}
.btn__primary{
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: 1px solid #0B53F6;
    background: #3775F8;
    width: fit-content;
    margin: 0 auto;
    transition: all .3s ;
}
.btn__primary:hover{
    background: #2752b1;
}
.need{
    padding-top: 20px;
    padding-bottom: 15px;
}
.section__title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.need__list{
    gap:20px 30px;
}
.need__item{
    width: calc(100%/2 - 15px);
    gap: 17px;
}
.need__item svg{
    width: 11px;
}
.need__item p{
    width: calc(100% - 28px);
    line-height: 24px;
}
.what-get{
    padding-top: 15px;
    padding-bottom: 15px;
}
.what-get__list{
    gap: 20px 60px;
    padding-left: 20px;
}
.what-get__item{
    width: calc(100%/2 - 30px);
    line-height: 24px;
    padding-left: 18px;
}
.what-get__item strong{
    display: block;
    font-weight: 600;
}
.how-to-work{
    padding-top: 15px;
    padding-bottom: 15px;
}

.how-to-work__list{
    gap: 20px 60px;
    padding-left: 20px;
}
.how-to-work__list li{
    width: calc(100%/2 - 30px);
    line-height: 24px;
    padding-left: 18px;
}
.comparison{
    padding-top: 15px;
    padding-bottom: 15px;
}
table{
    border-collapse: collapse;
}
.comparison__table{
    width: 100%;
}
.comparison__table  th{
    background: #FAFAFE;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #F7F7F6;
    border-left: 1px solid #fff;
    text-align: left;
    padding: 10px 15px;
}
.comparison__table  th:first-child{
    border-left: 0;
}
.comparison__table td{
    text-align: left;
   border-left: 1px solid #F7F7F6;
    border-bottom: 1px solid #F7F7F6;
    font-size: 14px;
    padding: 10px 15px;
}
.comparison__table td:first-child{
    border-left: 0;
}
.comparison__table th.tc, .comparison__table td.tc{
    text-align: center;
}
td img{
    width: 15px;
    margin-right: 5px;
}
.j-center{
    justify-content: center;
}
.tariff__table{
    width: 100%;
}
.tariff__table  th{
    background: #FAFAFE;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #F7F7F6;
    border-left: 1px solid #fff;
    text-align: left;
    padding: 10px 15px;
}
.tariff{
    padding-top: 15px;
    padding-bottom: 15px;
}
.tariff__table  th:first-child{
    border-left: 0;
}
.tariff__table td{
    text-align: left;
    border-left: 1px solid #F7F7F6;
    border-bottom: 1px solid #F7F7F6;
    font-size: 14px;
    padding: 10px 15px;
}
.tariff__table td span{
    color: #1B2735;
    font-size: 12px;
}
.tariff__table td:first-child{
    border-left: 0;
}
.tariff__table th.tc, .tariff__table td.tc{
    text-align: center;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}
.footer__text{
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}
footer .btn__primary{
    height: 40px;
}
.hamburger-menu{
    display: none;
}
.contact__form{
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 20px;

}
.contact{
    margin-top: 40px;
}
.contact__form label{
    flex-direction: column;
    display: flex;
    gap: 10px;

}
.disabled {
    opacity: .7;
    pointer-events: none;
}
.contact__form input{
    height: 40px;
    padding: 10px;
    outline: none;
    font-family: Roboto, serif;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
}
.contact__form textarea{
    resize: none;
    outline: none;
    padding: 10px;
    font-family: Roboto, serif;
    border: none;
    background: transparent;
    min-height: 40px;
    height: 80px;
    border-bottom: 1px solid #000;
}
.form-status{
    color: red;
}
.contact__form .error{
    border-color: red;
}
.contact__summary{
    list-style: none;
    transition: all .3s;
    cursor: pointer;
}
.contact__summary svg{
    transition: all .3s;
}
details{
    transition: all .5s;
}
details[open ] .contact__summary svg{
    transform: rotate(180deg);

}
.modal{
    display: none;
}
.modal.show{
    display: flex;
    position: fixed;
    background: rgba(0,0,0,.5);
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal__content{
    background: #fff;
    border-radius: 5px;
    padding: 25px;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.close{
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
    border: none;
}
@media screen and (max-width: 600px){
    body{
        padding-top: 0;
        padding-bottom: 15px;

    }
    .menu__link{
        font-size: 14px;
    }
    .menu{
        gap: 15px;
    }
    .navbar__logo{
        width: 100px;
    }
    .banner__title{
        font-size: 28px;
    }
    .banner__text{
        font-size: 16px;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .need__list{
        flex-direction: column;
    }
    .need__item{
        width: 100%;
    }
    .what-get__list{
        flex-direction: column;
    }
    .what-get__item{
        width: 100%;
    }
    .how-to-work__list li{
        width: 100%;
    }
    .how-to-work__list{
        flex-direction: column;
    }
    .footer__title{
        font-size: 24px;
    }
    .footer__text{
        font-size: 16px;
    }
    .tariff__table td,  .tariff__table th{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 480px) {
    .tariff__table td,  .tariff__table th{
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section__title{
        font-size: 20px;
        margin-bottom: 20px;
    }


    .hamburger-menu{
        display: flex;

        z-index: 4;
    }
 #menu__toggle--mob {
        visibility: hidden;
     width: 0;
    }
    .navbar > .hamburger-menu #menu__toggle--mob{
        visibility: hidden;

    }
    #menu__toggle--mob:checked ~ .menu__btn > span {
        transform: rotate(45deg);
        width: 13px;
    }
    #menu__toggle--mob:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle--mob:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        width: 13px;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;

        width: 13px;
        height: 13px;

        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 1px;
        border-radius: 10px;
        background-color: #000;

        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -4px;
    }
    .menu__btn > span::after {
        content: '';
        top: 4px;
    }
    .menu__btn{
        width: 20px;
    }
    .menu__btn > span::after{
        width: 13px;
    }
    #menu__toggle:checked ~ .menu__btn > span{
        width: 13px;
    }
    .menu{
        position: fixed;
        visibility: hidden;
        flex-direction: column;
        height: 100vh;
        top: 0;
        left: -100%;
        box-shadow: 0 0 10px #000;
        background: #fff;
        backdrop-filter: blur(30px);
        transition-duration: .25s;
        width: 280px;
        padding-top: 80px;
        padding-bottom: 50px;
        align-items: flex-start;
        padding-left: 30px;
    }
    .menu.open {
        visibility: visible;
        left: 0;
        z-index: 1;
    }
    .no-scroll{
        overflow: hidden;
    }
    .navbar .container{
        justify-content: flex-start;
        gap: 30px;
    }


}
